<div id="<%= dom_id buddy %>">
  <p>
    <strong>First name:</strong>
    <%= buddy.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= buddy.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= buddy.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= buddy.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= buddy.twitter %>
  </p>

</div>
